# Byte-compiled / build
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Others
*.egg-info/
dist/
.eggs/
*.log